[Desktop Entry]
Type=Application
Name=CCE Fonts
Comment=Font preview and management
Exec=cce-fonts
Icon=cce-fonts
Categories=Graphics;Settings;System;
Terminal=false
StartupWMClass=cce-fonts
